<template name="patientList">

    <div>
        <div style="margin-top: 10px"></div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="col-md-4">Name</th>
                <th class="col-md-2">ID</th>
                <th class="col-md-1">Gender</th>
                <th class="col-md-3">DOB</th>
            </tr>
            </thead>
            <tbody>
            {{#each patients}}
                <tr >
                    <th>{{friendlyName}}</th>
                    <th>{{mrn}}</th>
                    <th>{{gender}}</th>
                    <th>{{dateTimeOfBirth}}</th>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>