<template name="patientSearch">

    <div>
        <form class="form-inline">
            <button type="submit" id="search" class="btn btn-default">Search</button>
            <div class="form-group">
                <label class="sr-only" for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="mrn">MRN</label>
                <input type="text" class="form-control" id="mrn" placeholder="MRN">
            </div>
            <div class="form-group">
                <label class="sr-only" for="dob">Birth Date Time</label>
                <input type="text" class="form-control" id="dob" placeholder="Birth Date Time">
            </div>
        </form>
    </div>
</template>